{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='UTF-8'>
    <title>Crime Hotspots and Patrol Routes</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps.css'>
    <link rel='stylesheet' type='text/css' href='../assets/ui-library/index.css' />
    <link rel='stylesheet' type='text/css' href='../assets/ui-library/icons-css/routing.css' />
    <link rel='stylesheet' type='text/css'
        href='https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.2.0//SearchBox.css' />
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.2.0//SearchBox-web.js'></script>
</head>

<body>
    <header>
        <h1>Crime Hotspots and Patrol Routes</h1>
    </header>

    <main>
        <div id='map' class='map'>
        </div>
        
    </main>
    
    <main>
        <form action="/map">
            <button type="submit">Go To Map</button>
        </form>
    </main>
    
    <footer>
        <p>&copy; 2024 Hackathon Project</p>
    </footer>

    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps-web.min.js'></script>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/services/services-web.min.js'></script>
    <script>
        var map = tt.map({
            key: 'vdZkUuKVjGHjPLQfhKGQmH9akt0DROHg',
            container: 'map',
            center: [103.8198, 1.3521],
            zoom: 11
        });

        map.addControl(new tt.NavigationControl());

        // Function to create a marker
        function createMarker(lngLat, title) {
            var markerDiv = document.createElement('div');
            markerDiv.className = 'custom-marker';
            markerDiv.title = title; 

            new tt.Marker({
                element: markerDiv,
                anchor: 'bottom'
            })
            .setLngLat(lngLat)
            .addTo(map);
        }

        // List of markers
        var markers = [
            { lngLat: [103.84508966643547, 1.3850969869082566], title: 'AMK' },
            { lngLat: [103.93716055293469, 1.3328855285307624], title: 'Bedok' },
            { lngLat: [103.83975222595029, 1.278604029532352], title: 'Central' },
            { lngLat: [103.70234408177062, 1.3511457864334573], title: 'Jurong' },
            { lngLat: [103.84670982409857, 1.3123442012770405], title: 'Tanglin' },
            { lngLat: [103.77883793759092, 1.4332850043061145], title: 'Woodlands' },
            { lngLat: [103.98103923150593, 1.3431877727562795], title: 'Airport' },
        ];

        // Add markers to the map
        markers.forEach(function(marker) {
            createMarker(marker.lngLat, marker.title);
        });

        var displayRoute = function(geoJSON) {
            routeLayer = map.addLayer({
                'id' : 'route',
                'type' : 'line',
                'source' : {
                    'type' : 'geojson',
                    'data' : geoJSON
                },
                'paint' : {
                    'line-color' : 'blue',
                    'line-width' : 5
                }
            })
        }
        
    </script>
    
</body>

</html>