body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#map {
    height: 500px;
    width: 60%;
    margin: 0 auto;
}

.icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}

.tt-icon-size {
    height: 500px !important;
    padding: 80px;
    width: 800px !important;
}

.icon-spacing-right {
    margin-right: 12px;
    margin-top: 22px;
}

.icon-spacing-left {
    margin-left: 12px;
    margin-top: 24px;
}

.custom-marker {
width: 20px;
height: 20px;
background-color: rgba(255, 0, 0, 0.5);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-size: 14px;
font-weight: bold;
text-align: center;
}