body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#map {
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

#foldable {
    width: 320px;
}

#form {
    margin-top: 10px;
}

.icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}

.tt-icon-size {
    height: 500px !important;
    padding: 80px;
    width: 800px !important;
}

.icon-spacing-right {
    margin-right: 12px;
    margin-top: 22px;
}

.icon-spacing-left {
    margin-left: 12px;
    margin-top: 24px;
}